extends layout

block contenido
    .contenido-principal
        h2 #{pageName}

        if errors
            each error in errors
                .alerta #{error.text}

        form.agregar-tarea(action=`/projects/${project.url}` method="POST")
            .campo
                label(for="task") Tarea:
                input.nombre-tarea(type="text" name="task" placeholder="Nombre de la tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Agregar")

        .listado-pendientes
            ul
                if tasks.length
                    each task in tasks
                        li.tarea(data-task-id=task.id)
                            p= task.task
                            .acciones
                                if task.isCompleted
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else
                    p No hay tareas en este proyecto
                            

        // Actions
        .contenedor-acciones    
            a(href=`/project/edit/${project.id}` class="boton") Editar Proyecto
            button#delete-project(type="button" class="boton eliminar" data-project-url=project.url) Eliminar Proyecto

